.landing__container {
  width: 100%;
  // max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // z-index: 5;
}

.landing__footer {
  color: white;
  font-size: $font-size--d;

  position: absolute;
  bottom: 7vh;
  right: 5vw;

  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;

  // mix-blend-mode: overlay;
  transition: $default--transition;

  &:hover {
    animation-duration: 3s;
    animation-name: gradient;
    animation-iteration-count: infinite;
  }
}

.landing__center-info {
  color: white;
  position: relative;

  width: 30vh;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3 ease-in-out;

  &:hover {
    mix-blend-mode: overlay;
  }
}
