.works__container {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  // background-color: red;
  z-index: 5;

  & .content {
    position: relative;

    width: 100%;
    height: 100vh;

    margin-left: calc(5vw + 10rem);
    padding: 5vh 5vh;
    // margin-top: 5vh;

    border-left: $default--border;
    box-sizing: border-box;
  }
}

.works__picture-container {
  display: flex;
  // width: 50vw;
  height: 100%;
  aspect-ratio: 3 / 4;
  background-color: red;
}
