.works__container {
  // position: relative;
  // width: 100%;
  // left: calc(5vw + 10rem);
  // left: 0;

  // width: calc((100% - 5vw - 10rem) * 1);
  width: 200vw;
  height: 100vh;

  display: grid;
  grid-auto-rows: 1fr;
  // flex-direction: column;
  // background-color: red;
  overflow: hidden;
  box-sizing: border-box;

  transition: $default--transition;
}
.work__container {
  width: 100%;

  // padding-left: calc(5vw + 10rem);

  display: grid;
  grid-template-columns: 1fr 1fr;

  z-index: 5;
  transition: $default--transition;
}

.work__content {
  position: relative;

  // width: calc(90vw - 10rem);
  width: 100%;
  // max-width: calc(90vw - 10rem);
  // width: calc(100% - 5vw - 10rem);
  // width: calc(95vw - 10rem);
  height: 85vh;

  margin-top: 6vh;
  margin-bottom: 9vh;
  // padding-left: calc(5vw + 10rem);
  // left: calc(5vw + 10rem);
  // padding: 6vh 10vh 9vh 0vh;
  // margin-top: 5vh;

  display: grid;
  grid-template-rows: 1fr 1px;

  // border-left: $default--border;
  box-sizing: border-box;
  // overflow-x: scroll;
  // overflow-y: hidden;
  overflow: hidden;

  transition: transform 0.3s ease-in-out 0s;
}

.work__detail-container {
  position: relative;
  width: calc(90vw - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;

  // background-color: red;
  border: $default--border;

  left: calc(5vw + 10rem);

  box-sizing: border-box;
}
.testbutton {
  position: absolute;
  top: -2rem;
  left: 0;
}
.works__picture-container {
  position: relative;
  // width: 50vw;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  margin-left: calc(5vw + 10rem);

  // background-color: red;
  overflow: hidden;

  & .works_picture {
    height: 85vh;
    position: absolute;
    // left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 2 / 3;
    // background-color: blue;
    background-size: auto 100%;
    background-position: center center;
    box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.5);

    overflow: hidden;

    transition: $default--transition;
    & img {
      height: 100%;
      transition: height 0.3s ease-in-out;
    }
  }

  & .works_picture.active {
    & img {
      height: 125%;
    }
  }
}
.works__info-container {
  right: 5vh;
  top: 5vh;

  width: 100%;
  height: 95%;

  // background-color: red;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 1fr minmax(min-content, max-content);
  // grid-auto-rows: minmax(min-content, max-content);

  justify-items: flex-end;
  justify-content: flex-end;
  row-gap: 2rem;
  // overflow: visible;

  padding-right: 5vw;
  box-sizing: border-box;

  z-index: 3;
}

.works__title {
  font-size: 20vh !important;
  // line-height: 1;
  text-transform: uppercase;

  position: relative;
  right: 0vh;

  width: 100%;

  // min-height: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  // overflow: hidden;

  & span {
    position: absolute;
  }

  & span:first-child {
  }

  & span:nth-child(2) {
    position: absolute;
    margin-top: 11vh;
    opacity: 0.7;

    // background-color: red;
  }
}

.works__subtitle {
  // position: absolute;
  // width: 70%;
  // background-color: blue;
  display: flex;
  align-items: center;
  text-align: right;

  box-sizing: border-box;

  h2 {
    font-weight: 300;
  }
}

.works__info__detail {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: auto auto;
  grid-auto-rows: minmax(min-content, max-content);
  row-gap: 0rem;

  margin-bottom: 2rem;
  box-sizing: border-box;
  // background-color: green;
}

.works__content-nav {
  position: fixed;
  bottom: 9vh;
  right: 5vw;
  width: calc(90vw - 10rem);
  height: 1px;
  z-index: 10;
  transition: $default--transition;

  & .bar {
    position: relative;
    transition: $default--transition;
  }
  & .active {
    top: -1px;
    height: 1px;
    min-width: 5vw;
    background: $gradient--white--90;
  }
  & .disabled {
    height: 1px;
    width: 100%;
    background: $color--disabled;
  }

  & .box {
    // position: relative;
    margin-top: -2.2rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
  }
  & .labels {
    font-size: $font-size--m;
    text-transform: uppercase;
    display: flex;
    margin-top: 1.5rem;
    & div {
      position: absolute;
      display: flex;
      flex-direction: column;
    }
    & .label {
      transform: translateX(100vw);
    }
    & .info {
      left: 5vw;
      transition: transform 0.3s ease-in-out 0.6s, opacity 0.3s 0s;
    }
    & .detail {
      left: 25vw;
      transition: transform 0.3s ease-in-out 0.8s, opacity 0.3s 0s;
    }
    & .more {
      right: 15vh;
      transition: transform 0.3s ease-in-out 1s, opacity 0.3s 0s;
    }
  }
}
.works__content-nav.active-box {
  transition-delay: 0.5s;
}

.works__content__arrow {
  position: fixed;
  top: calc(50vh - 1.5rem);
  right: 3rem;
  width: 3rem;
  height: 3rem;

  display: flex;
  align-items: center;
  justify-self: center;

  cursor: pointer;

  .arrow {
    // background-color: red;
    position: absolute;
    width: 100%;
    height: 100%;
    border-width: 1px 1px 0px 0px;
    border-color: white;
    border-style: solid;
    transform: rotate(45deg);

    transition: $default--transition;

    &:hover {
      transform: rotate(405deg);
    }
  }
  .text {
    font-size: $font-size--m;
    text-transform: uppercase;
    margin-left: -1rem;

    position: absolute;
  }
}
